{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% bootstrap_css %}
		{% bootstrap_javascript jquery="full" %}
		{% block staticArea %}
		{% endblock staticArea %}
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
			<a href="{% url 'forum:index' %}" class="navbar-brand">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expand="false" aria-label="Toggle Navigation"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a href="{% url 'forum:topics' %}" class="nav-link">Topics</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					{% if user.is_authenticated %}
						<li class="nav-item">
							<a href="{% url 'forum:user' user.id %}" class="nav-link">{{ user.username }}</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'users:logout' %}" class="nav-link">Log Out</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a href="{% url 'users:login' %}" class="nav-link">Log In</a>
						</li>
						<li class="nav-item">
							<a href="{% url 'users:register' %}" class="nav-link">Register</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<main role="main" class="container">
			<div class="pb-2 mb-2 border-bottom">
				{% block head %}
				{% endblock head %}
			</div>
			<div>
				{% block body %}
				{% endblock body %}
			</div>
		</main>
	</body>
</html>