{% extends "forum/base.html" %}
{% load static %}
{% block staticArea %}
<script src="{% static 'forum/progressBar.js' %}"></script>
{% endblock staticArea %}
{% block head %}
<title>{{ topic }}</title>
<h1>Topic: {{ topic }}</h1>
<h2>Owned by {{ owner }}</h2>
{% endblock head %}
{% block body %}
<h2>Entries</h2>
<ul>
	{% for entry in entries %}
		<div class="card mb-3">
			<h4 class="card-header">{{ entry.date_added | date:"M d, Y H:i" }}</h4>
			{% if entry.userIsOwner %}
				<small>
					<a href="{% url 'forum:edit_entry' entry_id=entry.id %}">Edit</a>
				</small>
			{% endif %}
			<div class="card-body">
				{{ entry.text | linebreaks }}
			</div>
			<div class="text-right">
				<h2 class="badge badge-secondary">{{ entry.owner }}</h2>
			</div>
		</div>
	{% empty %}
		<li>There are no entries for this topic.</li>
	{% endfor %}
</ul>
<a href="{% url 'forum:new_entry' topic_id=topic.id %}">New Entry</a>
{% endblock body %}