{% extends "forum/base.html" %}
{% block head %}
<title>User Page</title>
<h1>{{ user.username }}</h1>
{% endblock head %}
{% block body %}
<h2>Badges</h2>
<div class="progress mb-3">
	<div class="progress-bar bg-success" style="width: {{ userBadgesPercent }}%;">
		{{ userBadgesPercent }}%
	</div>
	<div class="progress-bar bg-danger" style="width: {{ userBadgesPercentNotDone }}%;">
		{{ userBadgesPercentNotDone }}%
	</div>
</div>
{% for badge in userBadges %}
	<div class="card mb-3">
		<div class="card-header">
			<h3>{{ badge.name }}</h3>
		</div>
		<div class="card-body">
			<p>{{ badge.description }}</p>
		</div>
	</div>
{% endfor %}
{% endblock body %}