{% extends "forum/base.html" %}
{% load bootstrap4 %}
{% block head %}
<title>Login</title>
<h2>Log Into Your Account.</h2>
{% endblock head %}
{% block body %}
	{% if form.errors %}
		<p>Your username or password isn't right. Please try again.</p>
	{% endif %}
	<form action="{% url 'users:login' %}" method="POST" class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			<button name="submit" class="btn btn-primary">Log In</button>
		{% endbuttons %}
		<input type="hidden" name="next" value="{% url 'forum:index' %}">
	</form>
{% endblock body %}